.page {
  width: 100%;
  height: 100vh;
  background-color: #f8a5c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-title {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-title .text1 {
  font-size: 30px;
}
.header-title .text2 {
  display: inline;
  font-size: 40px;
}
.header-title .text3 {
  display: inline;
  font-size: 20px;
  margin-left: 4px;
}

.footer {
  width: 92%;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer img {
  width: 40%;
  border-radius: 12px;
}

.footer-comt {
  margin-top: 32px;
  display: flex;
  justify-content: center;
}
